<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-danger">
  <div class="container">
    <a class="navbar-brand" href="/">東京工業大学EDP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/about/"><i class="fas fa-info-circle"></i> About</a>
        </li>

        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-school"></i> Courses
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% assign pages = site.pages | sort: 'url' | reverse %}
        {% for p in pages %}
        {% if p.tags contains 'lecture' %}
        <a class="dropdown-item" href="{{p.url}}">{{p.title}}</a>
        {% endif %}
        {% endfor %}
          </div>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="/faculty-team/"><i class="fa fa-users"></i> Faculty</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="/faculty-team/"><i class="fab fa-medium"></i> Blog</a>
        </li>

        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-toolbox"></i> Resources
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown2">

<a class="dropdown-item" href="/toolkit/">Toolkit</a>
<a class="dropdown-item" href="/resources/pitch-template/">Pitch Template</a>
<a class="dropdown-item" href="/resources/anti-patterns/">Anti Patterns</a>
<a class="dropdown-item" href="/resources/reading-list/">Reading List</a>
<a class="dropdown-item" href="/resources/interview-tips/">Tips of Interview</a>
<a class="dropdown-item" href="/code-of-conduct/">Code of Conduct</a>

          </div>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="/access/"><i class="fas fa-map-marked-alt"></i> Access</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link"href="https://www.cbec.titech.ac.jp/contact/"><i class="fas fa-envelope-square"></i> Contact</a>
        </li>

      </ul>
    </div>

  </div>
</nav>

<div class="jumbotron text-center">
  <h1 class="display-4">東京工業大学</h1>
  <h2 style="color: #fff;">エンジニアリングデザインプロジェクト</h2>
  <p class="lead">エンジニアリングデザインコースの必修科目であり、約半年間をかけたPBL型の授業です</p>
</div>
